* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, rgb(92, 128, 221) 0%, #246 100%);
    font-size: 12px;
}

body {
    display: block;
    place-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    background: rgb(86, 130, 163);
    z-index: 2;
}

.dropbtn {
    background-color: rgb(86, 130, 163);
    color: white;
    border: none;

}

#head-line {
    display: flex;
    grid-area: head-line;
    background: rgb(86, 130, 163);
    align-items: center;
    color: white;
    box-shadow: 0 0.2vw 0 -0.2vw rgba(0, 0, 0, 0.75);

}

.status {
    font-size: 14px;
    color: white;
    width: 57vw;
    font-weight: 200;
    margin-top: 0.7vh;
}

.ldropbtn {
    display: inline-block;
    background-color: rgb(86, 130, 163);
    color: #ffffff;
    width: 5vw;
    height: 7vh;
    
    border: none;
    z-index: 2;
}

.ldropbtn:hover {
    background-color: rgb(70, 105, 133);
}

.search {
    display: inline-block;
    background-color: rgb(86, 130, 163);
    width: 5vw;
    height: 7vh;
    color: white;
    border: none;
    z-index: 0;
}

.search:hover {
    background-color: rgb(70, 105, 133);
    
}

.head {
    color: white;
    outline: none;
    width: 10vw;
    margin-right: 2.5vw;
    border: 0;
    font-size: 1.4rem;
    text-align: end;

}


.search>img {
    height: 25px;
    width: 25px;
}

.dropbtn>img {
    height: 20px;
    width: 20px;
    margin-left: 1vw;
    background-color: rgb(86, 130, 163);

}

.ldropbtn>img {
    height: 30px;
    background: rgb(86, 130, 163);
    width: 30px;

    background-color: rgb(86, 130, 163);

}

#comand-line {
    background: rgb(86, 130, 163);
    display: flex;
    place-items: center;
    color: #ccc;
    grid-area: comand-line;
    border-radius: 10px 0 0 0;
}

h3 {
    font-size: 14px;
    color: rgb(248, 247, 247);
    margin-left: 2vw;
}

.dropdown .dropbtn {
    background-color: rgb(86, 130, 163);
}

.dropdown-content {
    display: none;
    font-size: 16px;
    color:rgb(17, 27, 34);
    position: absolute;
    background-color:white;
    min-width: 24.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content a {
    color: #ccc;
    padding: 1.1vw 1.4vw;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(76, 119, 151);
}

.dropdown-content a:hover {
    background-color:rgb(130, 170, 202);
}

.leftdropdown-content ul>li:hover {
    background-color: rgb(248, 247, 247);
}

.leftdropdown-content {
    display: none;
    font-size: 16px;
    color: rgb(86, 130, 163);
    position: absolute;
    background-color: white;
    width: 20vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown:hover .leftdropdown-content {
    display: grid;
}

.leftdropdown-content ul>li {
    color: rgb(31, 30, 30);
    padding: 1vw;
    text-decoration: none;
    display: block;
    list-style-type: none;
    margin-right: 5vw;
}

#chat-container {
    display: grid;
    grid:
        'comand-line head-line'8vh 'search-container chat-message-list'8vh 'conversation-list chat-message-list'70vh 'conversation-list chat-form'14vh /24.5vw 75.5vw;

    width: 100%;
    height: 720px;
    background: #FFF;
    border-radius: 10px;

}

@media only screen and (max-width: 900px) {


    .smile {

        height: 30px;
        width: 30px;
        display: none;
        margin-right: 1vw;
    }

   

    

  
    .message-row img {
        border-radius: 100%;
        height: 30px;
        width: 30px;
        margin-left: 10vw;
    }




}

@media only screen and (max-width: 500px) {
    #comand-line{
        display: none;
    }
    #search-container{
        display: none;
    }
    #conversation-list
    {
        display: none;
    }
    #chat-container{
        display: grid;
        grid:
        'head-line'
        'chat-message-list'
        'chat-form';
    
       position: fixed;}
       .message-row img {
        border-radius: 100%;
        display: none;
        height: 45px;
        width: 45px;
        margin-left: 2vw;
    }
    .message-row{
        display: flex;
    }
    .message-text{
        padding: 9px 14px;
        font-size: 1.6rem;
        text-align: start;
        margin-bottom: 5px;
    }
    
    .message-time{
        font-size: 1.3rem;
        color: #777;
    }
    
    .my-message{
        justify-content: end;
        justify-items: end;
    } 
    
    .other-message{
        justify-items: start;
    } 
 



}

@media only screen and (max-width: 1000px) {

    .stiker {
        height: 30px;
        width: 30px;
        z-index: 1;
        display: none;
        margin-right: 1vw;
    }

    .heart {

        height: 30px;
        width: 30px;
        display: none;
        margin-right: 1vw;
    }


}


#search-container,
#conversation-list,
#new-message-container {
    background: white;


}


#conversation-list {
    grid-area: conversation-list;
    overflow-y: scroll;
    scrollbar-width: thin;

}

.conversation {
    display: grid;
    grid-template-columns: 4vw 15vw 6.5vw;
    color: rgb(114, 106, 106);
    font-size: 1.1rem;
    border-right: 2px solid rgb(214, 230, 241);
    padding: 20px 20px 20px 15px;
}

.conversation>img {
    grid-row: span 2;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}


.conversation:hover {
    background: rgb(214, 230, 241);
    color: white;
}

.active {
    background:  rgb(86, 130, 163);
    color: white;
}

.conversation:hover {
    cursor: pointer;
}

#search-container {
    display: grid;
    align-items: center;
    padding: 0 10px;
    grid-area: search-container;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

#search-container input {
    color: #ccc;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 5vh;
    border: 0;
    width: 23vw;
    padding-left: 35px;
    font-size: 1.4rem;
    background: url('img/search.png') no-repeat rgba(197, 201, 202, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#search-container input::placeholder {
    color: rgb(157, 164, 172);
    font-weight: 200;
    font-size: 12px;
}

#new-message-container {
    display: grid;
    grid: 40px / 40px;
    grid-area: new-message-container;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 10px;
    padding: 0 15px;

}

#new-message-container a {
    display: grid;
    place-content: center center;
    background: #ccc;
    border-radius: 100%;
    color: #002C88;
    text-decoration: none;
    font-size: 3.5rem;
}


#chat-form {
    background: rgb(207, 204, 204);
}


#chat-message-list {
    display: flex;
    flex-direction: column-reverse;
    width: 74vw;
    grid-area: chat-message-list;
    padding: 0 20px;
    overflow-y: scroll;
    scrollbar-width: auto;
    z-index: 2;
}

.message-who {
    font-size: 14px;
    color: rgb(86, 130, 163);
    font-weight: bold;
}

.message-content {
    display: grid;
    grid-template-columns: 7vw 56.5vw 15vw;
    grid-auto-flow: row;
}

.my-message .message-content {
    justify-items: start;
}

.other-message .message-content {}

.message-row img {
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin-left: 3vw;
}

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 3vh;
}

.message-text {
    padding: 0.7vw 1vw;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.message-time {
    margin-left: 5vw;
    font-size: 1rem;
    color: #777;
}

.my-message {
    justify-content: start;
    justify-items: start;
}

.other-message {
    justify-items: start;
}

.my-message .message-text {
    background: white;
    color: black;

}

.other-message .message-text {
    background: white;
    color: black;

}

.title-text {
    font-weight: bold;
    font-size: 14px;
    color: rgb(53, 50, 50);
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

}

.title-text:hover,
.title-text:active {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.conversation-message {
    grid-row: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.create-date {
    color: #ddd;
    font-size: 1rem;
}

#chat-form {
    display: grid;
    grid:
        'me  chat other'4vh 'me  chat other'5vh 'me symb other '6vh / 19vw 35.5vw 19vw;
    align-content: start;
    align-items: start;
    grid-area: chat-form;
    background: white;


}

.attach {
    height: 30px;
    width: 30px;
    z-index: 1;
    margin-right: 1vw;
}

.document {
    height: 30px;
    width: 30px;
    z-index: 1;
    margin-right: 1vw;


}

.stiker {
    height: 30px;
    width: 30px;
    z-index: 1;
    margin-right: 1vw;


}

.me {

    grid-area: me;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-left: 8vw;
}

.other {

    grid-area: other;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-right: 10vw;
}


#chat-form input {
    outline: none;
    grid-area: chat;
    border: 2px solid white;
    color: #330;
    width: 28vw;
    height: 7vh;
    font-size: 1rem;

}

.audio {

    height: 30px;
    width: 30px;
    margin-right: 1vw;
}

.video {

    height: 30px;
    width: 30px;
    margin-right: 1vw;
}

.sendm {

    font-size: 16px;
    font-weight: bold;
    color: rgb(86, 130, 163);
    height: 3vh;
    width: 3vw;
    margin-left: 1vw;
    margin-top: 0.5vw;

}

.heart {

    height: 30px;
    width: 30px;
    margin-right: 1vw;
}

.smile {

    height: 30px;
    width: 30px;
    margin-right: 1vw;
}

.emo {

    height: 30px;
    width: 30px;
    margin-right: 1vw;
}

.symb {
    grid-area: symb;
    border-top: 1px solid rgb(52, 198, 235);
    margin-bottom: 1vw;
    margin-right: 5vw;
    display: flex;
    width: 28vw;
    background: white;
    border-top: 1.5px solid rgb(44, 188, 207);}







.send {
    display: flex;
    background: #ccc;

}

::-webkit-scrollbar {
    display: none;
}