*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, rgb(92, 128, 221) 0%, #246 100%);
    font-size: 10px;
}

body{
    display: block;
    place-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    background:rgb(86,130,163);
}

.dropbtn {
    background-color:  rgb(86,130,163);
    color: white;
    border: none;
}
#head-line{
    display: grid;
    grid: 6vh/60vw 15vw;
    grid-area:head-line;
    background: rgb(86,130,163);
    color:#ccc;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);

}
.ldropbtn {
    background-color:rgb(86,130,163);
    color: white;
    margin-left: 5vw;
    border: none;
}
#head-line input{ 
    color:#ccc;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 3.5vh;
    width: 65vw;
    border: 0;
    margin-left: 2vw;
    margin-top: 2vh;
    padding-left:7vw ;
    padding-right:30vw;
    font-size: 1.2rem;
    background: url('img/search.png') no-repeat rgba(255,255,255, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

.dropbtn > img{
    height: 20px;
    color:#ccc;
    width: 20px;
    background-color: rgb(86,130,163);
  
}

.ldropbtn > img{
    height: 20px; 
    color:#ccc;
    width: 20px;
    margin-left: 30px;
    margin-top: 10px;
    background-color:  rgb(86,130,163);
  
}

 #comand-line{
     background:rgb(86,130,163);
     color:#ccc;
     grid-area: comand-line;
     border-radius: 10px 0 0 0;
}

h3{
    font-size: 14px;
    color:rgb(248, 247, 247);
    text-align: center;
    padding-left: 60px;
}

.dropdown .dropbtn {background-color:  rgb(86,130,163);}
.dropdown-content {
    display: none;
    font-size: 16px;
    color:white;
    position: absolute;
    background-color:rgb(42, 95, 136);
    min-width: 25vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content a {
    color:#ccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(86,130,163);}
.dropdown-content a:hover {background-color: #374668;}
.leftdropdown-content ul>li:hover {background-color: #6386d1;}
    
.leftdropdown-content {
    display: none;
    font-size: 16px;
    color:rgb(31, 30, 30);
    position: absolute;
    background-color: #9cbbe7;
    min-width: 25vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown:hover .leftdropdown-content {display: block;}

.leftdropdown-content ul>li {
    color:rgb(31, 30, 30);
    padding: 10px;
    text-decoration: none;
    display: block;
    list-style-type: none;
    margin-right: 50px;
}


#chat-container{
    display: grid;
    grid:
     'comand-line head-line' 7vh
     'search-container chat-title' 6vh
     'conversation-list chat-message-list' 74vh
     'new-message-container chat-form' 13vh  
        /25vw 75vw;
    
    width:100vw;
    height: 100vh;
    background:#FFF;
    border-radius: 10px;
    
}
@media only screen and (max-width: 500px){
    #chat-container {
        grid-template-areas:   
        'comand-line' 
        'search-container'
        'conversation-list ';
  

}
}
@media (max-width:300px) {
    #chat-container {
        display: grid;
        grid-template-areas:
        'comand-line' 7vh
        'search-container' 6vh
        'conversation-list '72vh
        'new-message-container '15vh;
}
}


#search-container, #conversation-list,
#new-message-container{
    background: white;
    

}


#conversation-list{
    grid-area:conversation-list;
    overflow-y: scroll;
    
}

.conversation{
    display: grid;
    grid-template-columns: 5vw 14vw 6vw;
    color: rgb(15, 8, 8);
    font-size: 1.3rem;
    padding: 20px 20px 20px 15px;
}

.conversation > img{
grid-row:span 2; 
height:40px;
width: 40px;
border-radius:100%;
}
 

.conversation:hover{
    background:rgb(86,130,163);
    color: white;}
.active{
    background:rgb(86,130,163);
color: white;}

.conversation:hover{
    cursor: pointer;
}

#search-container{
    display: grid;
    align-items: center;
    padding: 0 10px;
    grid-area:search-container;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    z-index: 1;
}

#search-container input{ 
    color:#ccc;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 5vh;
    border: 0;
    width: 21vw;
    padding-left:35px ;
    font-size: 1.4rem;
    background: url('img/search.png') no-repeat rgba(133, 125, 125, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#search-container input::placeholder{
    color:rgb(172, 157, 157);
    font-weight: bold;
}
#new-message-container{
    display: grid;
    grid: 40px / 40px;
    grid-area:new-message-container;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-radius: 0 0 0 10px;
    padding:0 15px;

}

#new-message-container  a {
    display: grid;
    place-content: center center;
    background:#ccc;
    border-radius: 100%;
    color: #002C88;
    text-decoration: none;
    font-size: 3.5rem;
}

#chat-title, 
#chat-form{
  background:rgb(207, 204, 204);
}

#chat-title{
    display:grid;
    grid: 30vh / 65vw 5vw;
    align-content:center;
    align-items: center;
    grid-area:chat-title;
    color:rgb(86,130,163);
    font-weight: bold;
    font-size:2.0rem;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 0 20px;
}

#chat-title > img{
cursor: pointer;
height:20px;
width: 20px;
}
#chat-message-list{
    display: flex;
    width: 75vw;
    flex-direction: column-reverse;
    grid-area:chat-message-list;
    padding: 0 20px ;
    overflow-y: scroll;
    z-index: 2;
}

.message-content{
    display: grid;
}

.my-message .message-content{
    justify-items: end;
}

.other-message .message-content{
    grid-template-columns: 4vw 1fr;
    grid-column-gap:2vw;
}

.message-row img{
    border-radius: 100%;
    height:40px;
    width: 40px;    
}

.message-row{
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}
.message-text{
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.message-time{
    font-size: 1.3rem;
    color: #777;
}

.my-message{
    justify-content: end;
    justify-items: end;
} 

.other-message{
    justify-items: start;
} 

.my-message .message-text{
    background: rgb(86,130,163);
    color:#ccc;
    border: 1px solid #2d64b1;
    border-radius:14px 14px 0 14px;
}

.other-message .message-text{
    background: #ccc;
    color:#111;
    border: 1px solid rgb(182, 177, 177);
    border-radius:14px 14px 0 14px;
}

.title-text{
    font-weight: bold;
    font-size: 14px;
    color:rgb(53, 50, 50);
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

}

.conversation-message{
    grid-row: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.create-date{
    color:#ddd;
    font-size: 1rem;
}

#chat-form{
    display: grid;
    grid:
     'me  chat other' 3vh
     'me  chat other'5vh 
    'me symb other '5vh
    / 15vw 48vw 16vw;
    align-content:center;
    align-items:center;
    grid-area:chat-form;
    border-radius: 0 10px 0 0;
    border-top: 1px solid rgba(0,0,0,0.25);
}

.attach{
    height:30px;
    width: 30px;
    z-index:1;   
}
.document{
    height:30px;  
    width: 30px;
    z-index:1;

    
}
.me{
    
    grid-area:me;
    height:55px;
    width: 55px;
    border-radius:100%;
    margin-left: 2vw;
    z-index:1;
    }

.other{
   
    grid-area: other;
    height:55px;
    width: 55px;
    border-radius:100%;
    
    z-index:1;
    }


#chat-form input{
    outline: none;
    grid-area: chat;
    border: 2px solid white;
    color: #330;
    width:37vw;
    height:7vh;
    border-radius: 6px;
    margin-left: 0.7vw;
    font-size: 1.4rem;

}

.audio{
   
    height:30px;
    width: 30px;
}
.video{
   
    height:30px;
    width: 30px;
}
.sendm{
   
    height:30px;
    width: 30px;
}
.heart{
   
    height:30px;
    width: 30px;
}
.smile{
   
    height:30px;
    width: 30px;
}
.emo{
   
    height:30px;
    width: 30px;
}
.symb{
    grid-area:symb;
    margin-bottom: 1vw;
    margin-left: 0.7vw;
    display: flex; 
    width: 37vw; 
    background:white;
    border: 2px solid white;

}  
  


h4{
    font-size: 20px;
    color:rgb(150, 139, 139)
}


.send{
    display: flex;
    background:#ccc;
 
 }
::-webkit-scrollbar{
    display: none;
}