*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, rgb(92, 128, 221) 0%, #246 100%);
    font-size: 10px;
}

body{
    display: grid;
    place-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    background:#0048AA;
}

.dropbtn {
    background-color: #1e36be;
    color: white;
    border: none;
}
#head-line{
    display: grid;
    grid: 35px/650px 1fr;
    grid-area:head-line;
    background:#0048AA;
    color:#ccc;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);

}
.ldropbtn {
    background-color: #0048AA;
    color: white;
    border: none;
}
#head-line input{ 
    color:#ccc;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 25px;
    width: 550px;
    border: 0;
    margin-left: 25px;
    margin-top: 10px;
    padding-left:54px ;
    padding-right:60px;
    font-size: 1.2rem;
    background: url('../img/search.png') no-repeat rgba(255,255,255, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

.dropbtn > img{
    height: 20px;
    color:#ccc;
    width: 20px;
    background-color: #2265c2;
  
}

.ldropbtn > img{
    height: 20px; 
    color:#ccc;
    width: 20px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: #2265c2;
  
}

 #comand-line{
     background:#0048AA;
     color:#ccc;
     grid-area: comand-line;
     border-radius: 10px 0 0 0;
}

h3{
    font-size: 14px;
    color:#ccc;
    text-align: center;
    padding-left: 60px;
}

.dropdown .dropbtn {background-color: #0048AA;}
.dropdown-content {
    display: none;
    font-size: 16px;
    color:#ccc;
    position: absolute;
    background-color: #2265c2;
    min-width: 275px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content a {
    color:#ccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #1d31e4;}
.dropdown-content a:hover {background-color: #2e68e6;}
.leftdropdown-content ul>li:hover {background-color: #6386d1;}
    
.leftdropdown-content {
    display: none;
    font-size: 16px;
    color:rgb(31, 30, 30);
    position: absolute;
    background-color: #9cbbe7;
    padding-left: 50px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown:hover .leftdropdown-content {display: block;}

.leftdropdown-content ul>li {
    color:rgb(31, 30, 30);
    padding: 10px;
    text-decoration: none;
    display: block;
    list-style-type: none;
    margin-right: 50px;
}


#chat-container{
    display: grid;
    grid:
     'comand-line head-line' 45px
     'search-container chat-title' 45px
     'conversation-list chat-message-list' 1fr
     'new-message-container chat-form' 78px
     /275px 1fr;
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    width:100%;
    height: 95vh;
    background:#FFF;
    border-radius: 10px;
    
}
@media (min-width: 300px) {
    #chat-container {
        display: grid;
        grid-template-areas:
        'comand-line' 35px
          'search-container' 45px
          'conversation-list '1fr
          'new-message-container '30px;
}
}


#search-container, #conversation-list,
#new-message-container{
    background: #0048AA;
    

}

#conversation-list{
    grid-area:conversation-list;
    overflow-y: scroll;
}

.conversation{
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding: 20px 20px 20px 15px;
}

.conversation > img{
grid-row:span 2; 
height:40px;
width: 40px;
border-radius:100%;
}
 
.conversation:active,
.conversation:hover{
    background:#2e68e6;
}

.conversation:hover{
    cursor: pointer;
}

#search-container{
    display: grid;
    align-items: center;
    padding: 0 20px;
    grid-area:search-container;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    z-index: 1;
}

#search-container input{ 
    color:#ccc;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    border: 0;
    padding-left:35px ;
    padding-right:20px;
    font-size: 1.4rem;
    background: url('../img/search.png') no-repeat rgba(255,255,255, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#search-container input::placeholder{
    color:#ddd;
    font-weight: bold;
}
#new-message-container{
    display: grid;
    grid: 40px / 40px;
    grid-area:new-message-container;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-radius: 0 0 0 10px;
    padding:0 15px;

}

#new-message-container  a {
    display: grid;
    place-content: center center;
    background:#ccc;
    border-radius: 100%;
    color: #002C88;
    text-decoration: none;
    font-size: 3.5rem;
}

#chat-title, 
#chat-form{
  background:rgb(207, 204, 204);
}

#chat-title{
    display:grid;
    grid: 36px / 1fr 36px;
    align-content:center;
    align-items: center;
    grid-area:chat-title;
    color: #0048AA;
    font-weight: bold;
    font-size:2.0rem;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 0 20px;
}

#chat-title > img{
cursor: pointer;
height:20px;
width: 20px;
}
#chat-message-list{
    display: flex;
    flex-direction: column-reverse;
    grid-area:chat-message-list;
    padding: 0 20px ;
    overflow-y: scroll;
}

.message-content{
    display: grid;
}

.my-message .message-content{
    justify-items: end;
}

.other-message .message-content{
    grid-template-columns: 48px 1fr;
    grid-column-gap:15px;
}

.message-row img{
    border-radius: 100%;
    height:40px;
    width: 40px;    
}

.message-row{
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}
.message-text{
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.message-time{
    font-size: 1.3rem;
    color: #777;
}

.my-message{
    justify-content: end;
    justify-items: end;
} 

.other-message{
    justify-items: start;
} 

.my-message .message-text{
    background: #0048AA;
    color:#ccc;
    border: 1px solid #0048AA;
    border-radius:14px 14px 0 14px;
}

.other-message .message-text{
    background: #ccc;
    color:#111;
    border: 1px solid rgb(182, 177, 177);
    border-radius:14px 14px 0 14px;
}

.title-text{
    font-weight: bold;
    color:#ccc;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

}

.conversation-message{
    grid-row: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.create-date{
    color:#ddd;
    font-size: 1rem;
}

#chat-form{
    display: grid;
    grid: 35px 35px 25px / 5px 1fr;
    align-content:center;
    grid-area:chat-form;
    border-radius: 0 10px 0 0;
    border-top: 1px solid rgba(0,0,0,0.25);
}

.attach{
    height:30px;
    width: 30px;
    z-index:1;
    margin-left: 575px;
    margin-top: -2px;
    
}

.me{
    grid-row:span 2; 
    height:50px;
    width: 50px;
    border-radius:100%;
    margin-left: 15px;
    margin-top: 70px;

    z-index:1;
    }

.other{
    grid-row:span 2; 
    height:50px;
    width: 50px;
    border-radius:100%;
    margin-left: 615px;
    margin-top: 70px;
    z-index:1;
    }


#chat-form input{
    outline: none;
    border: 2px solid #ddd;
    color: #330;
    width:500px;
    height:55px;
    border-radius: 6px;
    font-size: 1.4rem;
    margin-right:35px;
    margin-left:75px;
    margin-bottom: 95px;
}  
.sendm{
    grid-row:span 2; 
    height:20px;
    width: 20px;

}
.send{
    display: flex;
    margin-bottom: 70px;
    margin-left:580px;
    background:#ccc;
 
 }
::-webkit-scrollbar{
    display: none;
}