*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

html {
    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;
}

#conversation-list:hover{
    overflow-y: scroll;
}

#conversation-list::-webkit-scrollbar {
    
    width: 3px;
    background-color: rgb(230, 241, 245);
}

#conversation-list::-webkit-scrollbar-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px inset;
    border-radius: 10px;
}
#chat-message-list:hover{
    overflow-y: scroll;
}


#chat-message-list::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px ;
    background-color: rgb(230, 241, 245);
}

#chat-message-list::-webkit-scrollbar-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px inset;
    border-radius: 10px;
}
body {
    display: grid;
    color: #000;
    background: 0 0;
    background-color:rgba(227, 233, 238, 0.93);
    font: 12px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
    overflow: hidden;

    place-items:center;}

.dropdown {
    position: relative;
    display: inline-block;
    background: rgb(86, 130, 163);
    z-index: 2;
}

.dropbtn {
    background-color: rgb(86, 130, 163);
    color: white;
    border: none;

}

#head-line {
    display: grid;
    grid-template-columns: 0.1fr 1.5fr  45px 45px;
    grid-area: head-line;
    background: rgb(86, 130, 163);
    align-items: center;
    color: white;
    box-shadow: 0 0.2vw 0 -0.2vw rgba(0, 0, 0, 0.75);

}
#head-line:hover{
    background-color:rgb(85, 119, 146);
} 
#comand-line:hover{
    background-color:rgb(85, 119, 146);

} 


.status {
    font-size: 13px;
    color: white;
    text-align: start;
    font-weight: 200;
    margin-top: 4px;
}

.ldropbtn {
    display: inline-block;
    background-color: rgb(86, 130, 163);
    color: #ffffff;
    width: 45px;
    height: 44px;
    
    border: none;
    z-index: 2;
}

.ldropbtn:hover {
    background-color: rgb(85, 119, 146);
}
.ldropbtn:hover > img{
    background-color: rgb(85, 119, 146);
}

.search {
    display: inline-block;
    background-color: rgb(86, 130, 163);
    width: 45px;
    height: 44px;
    color: white;
    border: none;
    z-index: 0;
}

.search:hover {
    background-color: rgb(85, 119, 146);
    
}

.head {
    color: white;
    outline: none;
    margin-right: 10px;
    border: 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: end;

}


.search>img {
    height: 18px;
    width: 18px;
}

.dropbtn>img {
    height: 25px;
    width: 20px;
    margin-left: 20px;
    background-color: rgb(86, 130, 163);

}

.ldropbtn>img {
    height: 20px;
    background: rgb(86, 130, 163);
    width: 20px;

    background-color: rgb(86, 130, 163);

}

#comand-line {
    background: rgb(86, 130, 163);
    display: flex;
    place-items: center;
    color: white;
    text-align: center;
    grid-area: comand-line;
  
}

h3 {
    font-size: 13.5px;
    font-weight: 596;
    color: rgb(248, 247, 247);
    margin-left: 39px;
    
}

.dropdown .dropbtn {
    background-color: rgb(86, 130, 163);
}

.dropdown-content {
    display: none;
    font-size: 16px;
    color:rgb(17, 27, 34);
    position: absolute;
    background-color:white;
    min-width: 315px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content a {
    color: rgb(86, 130, 163);
    padding: 1.1vw 1.4vw;
    font-size: 1rem;
    align-content:center;
    text-align: start;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(85, 119, 146);
}

.dropdown-content a:hover {
    background-color:rgb(130, 170, 202);
}

.leftdropdown-content ul>li:hover {
    background-color: rgb(248, 247, 247);
}

.leftdropdown-content {
    display: none;
    float: left;
    right: 0;
    font-size: 12px;
    color: rgb(86, 130, 163);
    position: absolute;
    background-color: white;
    width: 200px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown:hover .leftdropdown-content {
    display: grid;
}

.leftdropdown-content ul>li {
    color: rgb(31, 30, 30);
    padding: 15px;
    text-decoration: none;
    display: block;
    list-style-type: none;
    
}

#chat-container {
    display: grid;
    grid:
        'comand-line head-line'0.23fr
         'search-container chat-message-list'0.15fr
         'conversation-list chat-message-list' 2fr 
         'conversation-list chat-form'0.48fr /0.9fr 2.1fr;

    width:1010px;
    height: 700px;
    max-width: 100%;
    background: #FFF;
    overflow: hidden;
    margin-bottom: 28px;
    max-height: 100%;
   

}





#search-container,
#conversation-list,
#new-message-container {
    background: white;


}


#conversation-list {
    grid-area: conversation-list;
    
    overflow:hidden;
    

}

.conversation {
    display: grid;
    grid-template-columns:60px 1fr 50px ;
    color: rgb(114, 106, 106);
    font-size: 1.1rem;
    height:63px;
    align-content:center;
    border-right:2px solid rgba(227, 233, 238, 0.93);
    padding: 20px 20px 20px 15px;
}
.unread > img{
    width: 20px;
    height: 20px;
    z-index: 2;
    margin-left: 25px;
}
.unreadm{
    background-color:rgba(243, 244, 245, 0.93);
}

.conversation>img {
    grid-row: span 2;
    height: 50px;
    width: 50px;
    margin-right: 16px;
    border-radius: 100%;
}
.message-text p>img{
    width: auto;
    height: auto;
    border: none !important;
}


.conversation:hover {
    background: rgba(236, 243, 250, 0.979);
    
}

.active {
    background:  rgb(105, 145, 175);
    color: white;
    
    
}

.conversation:hover {
    cursor: pointer;
}

#search-container {
    display: grid;
    align-items: center;
    padding: 0 10px;
    height: 57px;
    place-items:center;
    grid-area: search-container;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.75);
    z-index: 1;
}
#search-container input:active {
    background-color:white;
    
}

#search-container input {
    color: #ccc;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 35px;
    border: 0;
    width: 290px;
    padding-left: 35px;
    font-size: 1.4rem;
    background: url('img/search.png') no-repeat rgba(197, 201, 202, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#search-container input::placeholder {
    color: rgb(157, 164, 172);
    font-weight: 200;
    font-size: 12px;
}




#chat-form {
    background: rgb(207, 204, 204);
}
.dropdown-content>a img{
    width: 25px;
    height: 25px;
    align-items: start;
    margin-right: 4vw;
  
    
}

#chat-message-list {
    display: flex;
    flex-direction: column-reverse;
    width:1fr;
    grid-area: chat-message-list;
    padding: 0 20px;
    overflow: hidden;
    scrollbar-width: 7px;
    z-index: 1;
}

.message-who {
    font-size: 14px;
    color: rgb(86, 130, 163);
    font-weight: bold;
}

.message-content {
    display: grid;
    grid-template-columns: 140px 395px 90px;
    grid-auto-flow: row;
}

.my-message .message-content {
    justify-items: start;
}

.other-message .message-content {}

.message-row img {
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin-left: 70px;

}

.message-row {
    display: grid;
    grid-template-columns: 80%;
    margin-bottom: 40px;
}

.message-text {
    padding: 14pxvw 20px;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.message-time {
    margin-left: 30px;
    font-size: 1rem;
    color: #777;
}

.my-message {
    justify-content: start;
    justify-items: start;
}

.other-message {
    justify-items: start;
}

.my-message .message-text {
    background: white;
    color: black;

}

.other-message .message-text {
    background: white;
    color: black;

}

.title-text {
    font-weight: bold;
    font-size: 14px;
    color: rgb(53, 50, 50);
    padding-left: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.title-text:hover,
.title-text:active {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.conversation-message {
    grid-row: span 2;
    padding-left: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create-date {
    color: rgb(172, 170, 170);
    overflow: hidden;
    font-size: 1rem;
}

#chat-form {
    display: grid;
    grid:
        'me  chat smily other'20px 
        'me  chat smily other'30px 
        'symb symb symb symb '70px 
        / 0.6fr 1fr 30px 0.7fr;
    align-content: start;
    align-items: start;
    grid-area: chat-form;
    background: white;


}

.emoji {
    height: 25px;
    width: 25px;
    z-index: 1;
    margin-right: 13px;
    margin-top: 14px;
}


.smily{
    height: 22px;
    width: 22px;
    margin-top: 10px;
    margin-left: 10px;

}




.me {

    grid-area: me;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 80px;
    margin-top: 20px;
}

.other {

    grid-area: other;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left:30px ;
    margin-top: 20px;
    
}


#chat-form input {
    outline: none;
    grid-area: chat;
    border: 2px solid white;
    color: #330;
    width: 350px;
    height: 45px;
    font-size: 1rem;

}




.sendm {

    font-size: 14px;
    font-weight: bold;
    color: rgb(86, 130, 163);
    height: 25px;
    margin-left: 10px;
    margin-top: 8px;

}

.heart {

    height: 25px;
    width: 25px;
    margin-right: 10px;
}



.symb {
    grid-area: symb;
    border-top: 1px solid rgb(52, 198, 235);
    margin-bottom: 20px;
    margin-left: 150px;
    display: flex;
    width: 390px;
    background: white;
    border-top: 1.5px solid rgb(44, 188, 207);}







.send {
    display: flex;
    background: #ccc;

}


@media only screen and (max-width: 950px) {

    #chat-container{
    display: grid;
    grid:
        'comand-line head-line'0.205fr
         'search-container chat-message-list'0.15fr
         'conversation-list chat-message-list' 70vh 
         'conversation-list chat-form'130px /24.5vw 74.5vw;
    }

    #search-container input {
        color: #ccc;
        outline: none;
        font-weight: bold;
        border-radius: 2px;
        height: 35px;
        border: 0;
        width: 22.5vw;
        padding-left: 35px;
        font-size: 1.4rem;
        background: url('img/search.png') no-repeat rgba(197, 201, 202, 0.3);
        background-position: 15px center;
        background-size: 20px 20px;
    }
    .smile {

        height: 30px;
        width: 30px;
        display: none;
        margin-right: 1vw;
    }

   
    .message-content {
        display: grid;
        grid-template-columns: 20vw 40vw 50px;
        grid-auto-flow: row;
    }
    
    

  
    .message-row img {
        border-radius: 100%;
        height: 30px;
        width: 30px;
        margin-left: 10vw;
    }




}
