* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

html {
    font-family: Arial, sans-serif;

    font-size: 12px;
}



#conversation-list::-webkit-scrollbar {

    width: 3px;
    background-color: rgba(227, 233, 238, 0.93);
}

#conversation-list::-webkit-scrollbar-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px inset;
    border-radius: 10px;
}

#chat-message-list:hover {
    overflow-y: scroll;
}

#chat-message-list:hover .date{
    margin-left: 10px;

}


#chat-message-list::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
    z-index: 2;
    position: absolute;
    background-color:rgba(227, 233, 238, 0.93);}


#chat-message-list::-webkit-scrollbar-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px inset;
    border-radius: 10px;
}

body {
    display: grid;
    color: #000;
    background: 0 0;
    background-color: rgba(227, 233, 238, 0.93);
  
    overflow: hidden;

    place-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    width:320px;
    background: rgb(86, 130, 163);
    z-index: 2;
}

.dropbtn {
    background-color: rgb(86, 130, 163);
    color: white;
    border: none;
    
  
   

}

#head-line {
    display: grid;
    grid-template-columns: 0.1fr 1.4fr 50px 50px;
    grid-area: head-line;
    background: rgb(86, 130, 163);
    align-items: center;
    color: white;
    box-shadow: 0 0.2vw 0 -0.2vw rgba(0, 0, 0, 0.75);

}

#head-line:hover {
    background-color: rgb(85, 119, 146);
}

#comand-line:hover {
    background-color: rgb(85, 119, 146);

}




.status {
    font-size: 13px;
    color: rgb(208, 210, 214);
    text-align: start;
    font-weight: 200;
    margin-top: 3px;
}

.ldropbtn {
    display: inline-block;
    background-color: rgb(86, 130, 163);
    color: #ffffff;
    width: 50px;
    height: 45px;

    border: none;
    z-index: 2;
}

.ldropbtn:hover {
    background-color: rgb(85, 119, 146);
}

.ldropbtn:hover>img {
    background-color: rgb(85, 119, 146);
}

.search {
    display: inline-block;
    background-color: rgb(86, 130, 163);
    width: 50px;
    height: 45px;
    color: white;
    border: none;
    z-index: 0;
}

.search:hover {
    background-color: rgb(85, 119, 146);

}

.head {
    color: white;
    outline: none;
    margin-right: 8px;
    border: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: start;
    margin-left: 18px;

}


.search>img {
    height: 17px;
    width: 17px;
    margin-top: 3px;
}

.dropbtn>img {
    height: 25px;
    width: 20px;
    margin-right: 30px;
    margin-left: 20px;
    
    background-color: rgb(86, 130, 163);

}

.ldropbtn>img {
    height: 20px;
    background: rgb(86, 130, 163);
    width: 20px;

    background-color: rgb(86, 130, 163);

}

#comand-line {
    background: rgb(86, 130, 163);
    display: flex;
    place-items: center;
    color: white;
    grid-area: comand-line;

}

h3 {
    font-size: 13.5px;
    font-weight: 600;
    margin-left: 12px;
    margin-top: 6px;
    float: right;
    color: rgb(248, 247, 247);
 

}

.dropdown .dropbtn {
    background-color: rgb(86, 130, 163);
}

.dropdown-content {
    display: none;
    font-size: 16px;
    color: rgb(17, 27, 34);
    position: absolute;
    background-color: white;
    min-width: 315px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content a {
    color: rgb(86, 130, 163);
    padding: 1.1vw 1.4vw;
    font-size: 1rem;
    align-content: center;
    text-align: start;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn > img {
    background-color:rgb(85, 119, 146);
 
}
.dropdown:hover .dropbtn {
    background-color:rgb(85, 119, 146);
 
}
.dropdown:hover{ 
background-color:rgb(85, 119, 146);}
.dropdown-content a:hover {
    background-color: rgb(130, 170, 202);
}

.leftdropdown-content ul>li:hover {
    background-color: rgb(248, 247, 247);
}

.leftdropdown-content {
    display: none;
    float: left;
    right: 0;
    font-size: 12px;
    color: rgb(86, 130, 163);
    position: absolute;
    background-color: white;
    width: 200px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown:hover .leftdropdown-content {
    display: grid;
}

#comand-line:hover .dropdown{
    background-color:rgb(85, 119, 146);
}
#comand-line:hover .dropbtn{
    background-color:rgb(85, 119, 146);
}
#comand-line:hover .dropbtn>img{
    background-color:rgb(85, 119, 146);
}

.leftdropdown-content ul>li {
    color: rgb(31, 30, 30);
    padding: 15px;
    text-decoration: none;
    display: block;
    list-style-type: none;

}

#chat-container {
    display: grid;
    grid:
        'comand-line head-line'47px 
        'search-container chat-message-list'58px
        'conversation-list chat-message-list'
        2fr 'conversation-list chat-form'0.48fr /0.95fr 2.1fr;
   margin-bottom: 28px;

    width: 1010px;
    height: 700px;

    background: #FFF;
    overflow: hidden;
    margin-bottom: 28px;
    


}





#search-container,
#conversation-list,
#new-message-container {
    background: white;


}


#conversation-list {
    grid-area: conversation-list;
    overflow-y: scroll;
    overflow-x: hidden;


}

.conversation {
    display: grid;
    width: 100%;
    grid-template-columns: 65px 1.3fr 65px;
    grid-template-rows: 27px 36px;
    color: rgb(114, 106, 106);
    font-size: 1.1rem;
    height: 63px;
    align-content: center;
    
    padding: 20px 20px 20px 15px;
}



 p{
   
    font-size: 11px;
    color: white;
    margin-top: 6px;
   
  
}
.unread{

   background-color: rgb(49, 187, 79);
   width: 24px;
   height: 24px;
   text-align: center;
   border-radius:100%;
   margin-left:30px ;
  
  

}

.unreadm {
    background-color: rgba(243, 244, 245, 0.93);
}

.conversation>img {
    grid-row: span 2;
    height: 50px;
    width: 50px;
    margin-right: 16px;
    border-radius: 100%;
    margin-top: 7px;
}

.message-text p>img {
    width: auto;
    height: auto;
    border: none !important;
}


.conversation:hover {
    background: rgba(236, 243, 250, 0.979);

}

.active {
    background: rgb(105, 145, 175);
    color: white;


}

.conversation:hover {
    cursor: pointer;
}

#search-container {
    display: grid;
    align-items: center;
    padding: 0 10px;
    height: 58px;
    place-items: center;
    grid-area: search-container;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.75);
    z-index: 1;
    border-right:2px solid rgba(227, 233, 238, 0.93);
}

#search-container input:active {
    background-color: white;

}

#search-container input {
    color: #ccc;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 35px;
    border: 0;
    width: 290px;
    padding-left: 35px;
    font-size: 1.4rem;
    background: url('img/search.png') no-repeat rgba(197, 201, 202, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#search-container input::placeholder {
    color: rgb(157, 164, 172);
    font-weight: 200;
    font-size: 12px;
}




#chat-form {
    background: rgb(207, 204, 204);
}

.dropdown-content>a img {
    width: 25px;
    height: 25px;
    align-items: start;
    margin-right: 4vw;


}

#chat-message-list {
    display: flex;
    flex-direction: column-reverse;
    width: 1fr;
    grid-area: chat-message-list;
    padding: 0 20px;
    overflow: hidden;
    scrollbar-width: 7px;
    z-index: 1;
}

.message-who {
    font-size: 14px;
    color: rgb(86, 130, 163);
    font-weight: bold;
}

.message-content {
    display: grid;
    grid-template-columns:140px 395px 120px;
    grid-auto-flow: row;
}

.my-message .message-content {
    justify-items: start;
}

.other-message .message-content {}

.message-row img {
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin-left: 70px;

}

.message-row {
    display: grid;
    grid-template-columns: 80%;
    margin-bottom: 10px;
}

.message-text {
    padding: 14pxvw 20px;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.message-time {
    margin-left: 20px;
    font-size: 0.9rem;
    color: #777;
}

.my-message {
    justify-content: start;
    justify-items: start;
}

.other-message {
    justify-items: start;
}

.my-message .message-text {
    background: white;
    color: black;

}

.other-message .message-text {
    background: white;
    color: black;

}

.title-text {
    font-weight: bold;
    font-size: 14px;
    color: rgb(53, 50, 50);
    padding-left: 5px;
    margin-top: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.title-text:hover,
.title-text:active {
    font-size: 14px;
    font-weight: bold;
    
}

.conversation-message {
    grid-row: span 2;
    padding-left: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create-date {
    color: rgb(172, 170, 170);
    overflow: hidden;
    font-size: 1rem;
    margin-top: 8px;
    
}

#chat-form {
    display: grid;
    grid:
        'me  chat smily other'60px 'symb symb symb symb '70px
         / 0.5fr 1fr 20px 0.5fr;
    align-content: start;
    place-items: start;
    grid-area: chat-form;
    background: white;


}

.emoji {
    height: 25px;
    width: 25px;
    z-index: 1;
    margin-right: 13px;
    margin-top: 20px;
}


.smily {
    height: 19px;
    width: 19px;
    margin-top: 10px;
    margin-left: 10px;

}




.me {

    grid-area: me;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 90px;
    margin-top: 10px;
}

.other {

    grid-area: other;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 35px;
    margin-top: 10px;

}


#chat-form input {
    outline: none;
    grid-area: chat;
    text-align: start;
    border: 2px solid white;
    color: #330;
    width: 300px;
    height: 45px;
    font-size: 1rem;

}

.heart {
    height: 25px;
    width: 25px;
    z-index: 1;
    margin-right: 13px;
    margin-top: 20px;
}




.sendm {

    font-size: 15px;
    font-weight: bold;
    color: rgb(90, 163, 185);
    height: 25px;
    margin-left: 10px;
    margin-top: 20px;

}

.smile {
    height: 25px;
    width: 25px;
    z-index: 1;
    margin-right: 13px;
    margin-top: 20px;
}

.date{
     
    width: 2fr;

    text-align:center ;
    color: rgb(172, 170, 170);
    font-size: 1.1rem;
    margin-bottom: 20px;
    z-index: 1;
   
}

.symb {
    grid-area: symb;
    border-top: 1px solid rgb(52, 198, 235);
    margin-bottom: 20px;
    margin-left: 160px;
    display: flex;
    width: 380px;
    background: white;
    border-top: 1.5px solid rgb(44, 188, 207);
}







.send {
    display: flex;
    background: #ccc;

}


@media only screen and (max-width: 950px) {

    #chat-container {
        display: grid;
        grid:
            'comand-line head-line'47px
             'search-container chat-message-list'0.15fr 
             'conversation-list chat-message-list'2fr
              'conversation-list chat-form'130px /30vw 70vw;

    }

    .message-content {
        display: grid;
        grid-template-columns: 20vw 34.5vw 20vw;
        grid-auto-flow: row;
    }
    #search-container input{
        width: 27vw;}
    #chat-form {
        display: grid;
        grid:
            'me  chat smily other'60px 'symb symb symb symb '70px
             / 0.5fr 1fr 20px 0.5fr;
    }
    .symb {

        width: 45vw;
    }


  }

  

    @media only screen and (max-width: 900px) {
        .smile{
            display: none;
        }
        .me{
            margin-left: 50px;
        }
     
   .symb{margin-left: 120px;} 
   #search-container input{
       width: 27vw;
   }
   #chat-form {
    display: grid;
    grid:
        'me  chat smily other'60px 'symb symb symb symb '70px
         / 0.3fr 0.7fr 20px 0.3fr;
}
.heart {
    display: none;
}

#chat-form input {
    width: 250px;
    }}

  
    
    @media only screen and (min-height: 950px) {
        #chat-container {
            display: grid;
            grid:
                'comand-line head-line'47px 
                'search-container chat-message-list'
                0.24fr 'conversation-list chat-message-list'
                2fr 'conversation-list chat-form'0.48fr /0.9fr 2.1fr;
            width: 1010px;
            height: 920px;
            margin-bottom: 30px;
           
    
    
        }

        
    }
    
    @media only screen and (min-height: 800px) {
        #chat-container {
            display: grid;
            grid:
                'comand-line head-line'47px 
                'search-container chat-message-list'
                0.24fr 'conversation-list chat-message-list'
                2fr 'conversation-list chat-form'0.48fr /0.9fr 2.1fr;
            height: 770px;
            margin-bottom: 28px;
    
    
        }}
        @media only screen and (min-height: 900px) {
            #chat-container {
                display: grid;
                grid:
                    'comand-line head-line'47px 
                    'search-container chat-message-list'
                    0.24fr 'conversation-list chat-message-list'
                    2fr 'conversation-list chat-form'0.48fr /0.9fr 2.1fr;
                height: 870px;
                margin-bottom: 30px;
        
        
            }
        }
        @media only screen and (max-height: 690px) {
            #chat-container {
                display: grid;
                grid:
                    'comand-line head-line'47px 
                    'search-container chat-message-list'
                    0.24fr 'conversation-list chat-message-list'
                    1.5fr 'conversation-list chat-form'0.48fr /0.9fr 2.1fr;
                height: 570px;
                margin-bottom: 30px;
        
        
            }
        }    


        @media only screen and (max-height: 600px) {
            #chat-container {
                display: grid;
                grid:
                    'comand-line head-line'47px 
                    'search-container chat-message-list'
                    0.24fr 'conversation-list chat-message-list'
                    1.5fr 'conversation-list chat-form'0.48fr /0.9fr 2.1fr;
                height: 570px;
                margin-bottom: 30px;
        
        
            }
        }
        @media only screen and (max-height: 500px)  {
            #chat-container {
                display: grid;
                grid:
                    'comand-line head-line'47px 
                    'search-container chat-message-list'
                    0.24fr 'conversation-list chat-message-list'
                    1.2fr 'conversation-list chat-form'0.48fr /0.9fr 2.1fr;
                height: 470px;
                margin-bottom: 30px;
            
        
            }
        }

        @media only screen and (max-width: 950px) and (max-height:600px){

            #chat-container {
                display: grid;
                grid:
                    'comand-line head-line'47px
                     'search-container chat-message-list'0.15fr 
                     'conversation-list chat-message-list'2fr
                      'conversation-list chat-form'130px /30vw 70vw;
                height:600;
        
            }
        
            .message-content {
                display: grid;
                grid-template-columns: 20vw 34.5vw 20vw;
                grid-auto-flow: row;
            }
            #search-container input{
                width: 27vw;}
            #chat-form {
                display: grid;
                grid:
                    'me  chat smily other'60px 'symb symb symb symb '70px
                     / 0.5fr 1fr 20px 0.5fr;
            }
            .symb {
        
                width: 45vw;
            }
        
        
          }
        
          
        




  




           
        
 
      

      
        
        

        
    